<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles.css">
        <title>World of Geeky</title>
    </head>
    <body>
        <header id="top">
            <span>Geeking Out Compendium</span>
            <h1>Incomplete Guide to Geeky</h1>
        </header>

        <!-- Main Content -->
        <div class="main-content">
            <!-- First Intro Section -->
            <div class="section">
                <p>Being a total geek is partly ingrained and partly learned.  We will journey through
                    a few various resources to become geeky.
                </p>
                <div class="center-block">
                    <a class="callout" href="#movies">Movies</a>
                </div>
            </div>

            <div id="movies" class="section">
                <h3>The Movies</h3>
                <p>All geeks generally have a few of the great movies they like</p>
                <ul>
                    <li>Lord Of The Rings</li>
                    <li>Back to the Future</li>
                    <li>Blade Runner</li>
                </ul>
                <div class="center-block">
                    <a class="callout" href="#books">Books</a>
                </div>
            </div>

            <div id="books" class="section">
                <h3>The Books</h3>
                <p>While the nerd stereotype can often be true not all geeks do the reading thing.  However,
                to truly understand the mind of the geek here are some reading materials as well.</p>
                <ol>
                    <li>Lord of the Rings</li>
                    <li>Snowcrash</li>
                    <li>The Watchmen</li>
                </ol>
            </div>

            <div class="section center-block">
                <a class="callout" href="#top">Go To Top</a>
            </div>
        </div> <!-- End Main content -->
        <footer>
            <span>Copyright 2015</span>
        </footer>
    </body>
</html>